<h3>EDIT Your Account:</h3>
<form action="/user/<%= @user.slug %>" method="POST">
  <input type="hidden" name="_method" value="patch">
  CURRENT username: <%=@user.username%><br>
  <label for="name">NEW username:</label>
  <input type="text" id="name" name="username" value="">
  <br>
  <br>

<input type="submit" name="submit" value="Update Account">
</form>
<br>
<br>
<a href="/user/<%=@user.slug%>"><h5>Go Back to My Items</h5></a>
