
<h3>Hello!</h3>
<h4>Here are the list of items <%=@user.username%> has listed for community lending: </h4>
<% @user.items.each do |item| %>
<ol>
  <li><a href="/items/<%=item.id%>"><%= item.name %></a></li>
</ol>
<% end %>
<br>
<br>
<h4 style="color: tomato; text-align:center;">I have an <a href="/items/new">item to add</a>. </h4>
