<h4>Here are your community members</h4>
<h5>We are <%=@users.count%> members strong!</h5>
<% @users.each do |u| %>
<li><a href="/user/<%=u.slug%>"><%=u.username%></a></li>
<% end %>
<br>
<br>
<br>

<br>
<h3 style="background-color:lightgray;font-family:monospace;"><br> </h3>
<h3 style="background-color:lightgray;font-family:monospace; text-align:center;">I have an <a href="/items/new">item to add</a>. </h3>
<h3 style="background-color:lightgray;font-family:monospace; text-align:center;"><a href="/items">View ALL items</a></h3>
<h3 style="background-color:lightgray;font-family:monospace; text-align:center;"><a href="/logout">Log Out</a></h3>
<h3 style="background-color:lightgray;font-family:monospace;"><br> </h3>
