<h4>Hello!</h4>
<h3>Here are the list of items <%=@user.username%> has listed for community lending: </h3>
<% @user.items.each do |item| %>
<ol>
  <li><a href="/items/<%=item.id%>"><%= item.name %></a></li>
</ol>
<% end %>
