<form  action="/items/new" method="post">
  <label for="name">Item Name</label>
  <input type="text" name="item[name]" id="name" value="">
  <label for="detail">Item Description</label>
  <input type="text" name="item[detail]" id="detail" value="">
  <input type="submit" name="submit" value="submit">
</form>
